{% extends 'base.html' %}
{% load static %}
{% block header_stuff %}
    <title>Discover how we help protect your privacy and property | RoboNimbus</title>
    <meta name="description" content="Explore how we use your information to provide better service to you.
    Learn more on how our privacy policy works and how we are protecting you and your AWS accounts.">
{% endblock %}
 {% block seo_stuff %}
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:image" content="https://{% static 'img/portfolio/robonimbus.png' %}" />
    <meta name="twitter:card" content="RoboNimbus Privacy Policy">
    <meta name="twitter:title" content="Discover how we help protect your privacy and property. | RoboNimbus">
    <meta name="twitter:description" content="Explore how we use your information to provide better service to you.
    Learn more on how our privacy policy works and how we are protecting you and your AWS accounts.">

    <meta property="og:title" content="Discover how we help protect your privacy and property. | RoboNimbus" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static 'img/portfolio/robonimbus.png' %}" />
    <meta property="og:description" content="Explore how we use your information to provide better service to you.
    Learn more on how our privacy policy works and how we are protecting you and your AWS accounts.">

    <meta property="og:type" content="website" />
    <script type="application/ld+json">
    {
       "@context": "http://schema.org",
       "@type": "Organization",
       "name": "RoboNimbus",
       "url": "https://www.robonimbus.com/",
       "logo": "{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% static 'img/portfolio/robonimbus.png' %}",
       "contactPoint": [
           {
               "@type": "ContactPoint",
               "telephone": "+1(844)8433815",
               "contactType": "sales",
               "email": "contactus@robonimbus.com",
               "areaServed": [
                   "USA"
               ],
               "availableLanguage": [
                   "English"
               ]
           }
       ],
       "sameAs": [
           "https://www.linkedin.com/in/adam-szablya-a0b41b8a/",
       ]
    }
    </script>
    {% endblock seo_stuff %}

{% block content %}
    <section></section>
    <div class="container">
        <div class="row">
            {{ privacy.text | safe }}
        </div>
    </div>
{% endblock %}
{#{% include 'footer.html' %}#}