{% extends 'base.html' %}
{% load static %}
{% block header_stuff %}
    <title>RoboNimbus Terms of Service</title>
    <meta name="description" content="Find out how easy it is to jump in and start working with us.
    Our Terms of Service for working with our clients are built in to our website and easily available for you.">
{% endblock %}
 {% block seo_stuff %}
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:image" content="https://{% static 'img/portfolio/robonimbus.png' %}" />
    <meta name="twitter:card" content="RoboNimbus Terms of Service">
    <meta name="twitter:title" content="RoboNimbus Terms of Service">
    <meta name="twitter:description" content="Find out how easy it is to jump in and start working with us.
    Our Terms of Service for working with our clients are built in to our website and easily available for you.">

    <meta property="og:title" content="RoboNimbus Terms of Service" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="https://{% static 'img/portfolio/robonimbus.png' %}" />
    <meta property="og:description" content="Find out how easy it is to jump in and start working with us.
    Our Terms of Service for working with our clients are built in to our website and easily available for you.">
    <meta property="og:type" content="website" />
    {% endblock seo_stuff %}

{% block content %}
    <section></section>
    <div class="container">
        <div class="row">
            {{ tos.text | safe }}
        </div>
    </div>
{% endblock %}
{#{% include 'footer.html' %}#}